.game-page {
    background-color: #2C2C2C;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #CCCCCC;
}

.leaderboard {
    font-size: 2em;
    margin-bottom: 20px;
    color: #CCCCCC;
}

.user-list {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    color: #E0E0E0;
}

.user-list {
    margin: 10px 0;
}

.user-placement {
    display: flex;
    flex-direction: row;
    align-items: center;
}
